In [ ]:
import cufflinks as cf
import chart_studio.plotly as py
import seaborn as sns
import plotly.express as px
%matplotlib inline
from plotly.offline import download_plotlyjs, init_notebook_mode,plot,iplot
init_notebook_mode(connected=True)
cf.go_offline()
import plotly.graph_objects as go
import pandas as pd
import numpy as np

In [251]:
data_df=pd.read_json('data/teddyai-123ab-default-rtdb-export(2).json')[2:][['IDC']]
data_df.head()

                                                               IDC
abhijot76957943  {'17-01-2023 15:52:55': {'dateTime': '17/01/20...
alice40209003    {'16-01-2023 09:52:20': {'dateTime': '16/01/20...
amreet69858166   {'07-12-2022 14:06:44': {'dateTime': '07/12/20...
anant16781190    {'18-01-2023 19:34:28': {'dateTime': '18/01/20...
anant49124580    {'09-12-2022 12:58:36': {'dateTime': '09/12/20...